/* resources/css/sidebar.css */
@media (min-width: 992px) {
    #sidenav-main {
        display: none;
    }
}
@media (max-width: 992px) {
    #sidenav-main {
        position: fixed;
        width: 250px;
        height: 100%;
        left: -250px;
        top: 0;
        transition: left 0.3s ease;
    }

    #sidenav-main.active {
        left: 0;
    }

    .navbar-toggler {
        margin-left: auto;
    }
}
